[Unit]
Description=Start KA Lite Web Service
After=network.target

[Service]
User=pi
Group=pi

Type=simple
ExecStart=/usr/bin/kalite start
ExecStop=/usr/bin/kalite stop
RemainAfterExit=yes
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
